@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './variables'

%background-there
  background-repeat: no-repeat
  background-position: center
  background-size: cover

@media only screen and (max-width: 650px)
  .audio-player
    font-size: 12px

@media only screen and (max-width: 400px)
  .audio-player
    font-size: 9px

.audio-player
  height: 100%
  width: 100%
  background: $gray
  &--background-1
    @extend %background-there
    background-image: url('/assets/5938870365_a0c951015b_o.jpg')
  &--background-2
    @extend %background-there
    background-image: url('/assets/5966942286_682dcb45b6_o.jpg')
  &--background-3
    @extend %background-there
    background-image: url('/assets/6181316022_a513b78a87_o.jpg')
  &--background-4
    @extend %background-there
    background-image: url('/assets/6284055448_e0d5c1af67_o.jpg')
  &__player
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    flex-direction: column
    overflow: hidden
.view
  position: absolute
  color: $white
  font-family: $font-stack

.ring-view
  display: flex
  flex-direction: column
  align-items: center
  &__button
    cursor: pointer
  &__timer
    font-size: 8em
    margin-bottom: .2em
  &__author
    font-size: 3em
    font-weight: bold
    margin-bottom: .2em
  &__title
    font-size: 2em

.playlist-view__list-item
  display: flex
  flex-direction: column
  align-items: center
  padding-bottom: 1.8em
  cursor: pointer

.playlist-view__title
  font-weight: bold
  font-size: 3em
  padding-bottom: 0.5em
.playlist-view__author
  font-size: 2em